@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  width: 100%;
  max-width: 100%;
  min-width: 400px;
  align-content: center;
  max-width: 1900px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-self: center;
  align-items: center;
  /* 기존 스타일 유지 */
}

.header {
  color: #495057;
  align-content: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

.image-container {
  width: 100%;
  height: 200px;
  border: 2px dashed #ced4da;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #868e96;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}

.option:hover {
  background-color: #0056b3;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

.hidden-input {
  display: none;
}

/* 큰 화면에서 스타일 */
@media (max-width: 2000px) {
  .container {
    align-content: center;
    width: 500px;
    padding: 15px;
  }

  .header {
    text-align: center;
    font-size: xxx-large;
  }

  .image-container {
    height: 300px;
    align-content: center;
  }

  .option, .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* 모바일 반응형 - 30% 크기 증가 */
@media (max-width: 768px) {
  .container {
    width: 500px;
    align-content: center;
    justify-self: center;
    padding: 32px; /* 30% 크기 증가 */
  }

  .header {
    font-size: 30px; /* 크기 증가 */
    text-align: center; /* 중앙 정렬 유지 */
    align-content: center;
  }

  .image-container {
    align-content: center;
    height: 200px; /* 이미지 컨테이너 높이 증가 */
    width: 100%;
    font-size: 18px;
  }

  .option, .btn {
    width: 100%;
    font-size: 18px; /* 버튼 폰트 크기 증가 */
    padding: 14px 22px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 28px; /* 30% 크기 증가 */
  }

  .header {
    font-size: 28px; /* 모바일에서 헤더 크기 증가 */
    text-align: center; /* 중앙 정렬 유지 */
  }

  .image-container {
    height: 300px; /* 이미지 컨테이너 높이 증가 */
    font-size: 18px;
  }

  .option, .btn {
    font-size: 18px; /* 버튼 크기를 좀 더 키움 */
    padding: 14px 20px;
  }
}
