<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Analyzer</title>
  <link th:href="@{./style/index.css}" rel="stylesheet"/>
  <script th:src="@{./javascript/index.es6}"></script>
</head>
<body>
<main>
  <section class="container">
    <div class="header">사진 업로드</div>
    <div class="image-container" id="imageContainer">이미지 미리보기</div>
    <div class="options">
      <div class="option" onclick="document.getElementById('fileInput').click()">
        이미지 선택 <span>→</span>
      </div>
      <a class="btn btn-primary" href="upload">음식 사진 업로드</a>
    </div>
  </section>

  <section class="preview">
    <!-- 미리보기 섹션 내용 -->
  </section>
</main>

<input type="file" id="fileInput" class="hidden-input" accept="image/*"
       onchange="uploadFile(event)">

</body>
</html>

