<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uploaded Image</title>
  <link rel="stylesheet" href="styles.css">
  <script src="upload.js" defer></script>

</head>
<body>
<main>
  <section class="container">
    <div class="header">업로드된 사진</div>
    <div class="image-container" id="imageContainer">이미지 미리보기</div>
    <button class="btn" onclick="startAnalysis()">분석 시작</button>
  </section>
</main>

</body>
</html>